* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }


#quote-box{
    width:80vw;
    height:50vh;
    border: 2px solid red;
}

#text-box{
    width:100%;
    height:85%;
    border:2px solid green;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#bottom-box{
    width:100%;
    height:15%;
    border:2px solid blue;
    display:flex;
    justify-content: space-evenly;
}

#tweet{
    width: 80%;
    background-color: aqua;
}

#new-quote{
    align-self: center;
    width:15%;
    height:70%;
}

#text{
    height:100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
#author{
    height:20%;
    width:90%;
    display:flex;
    margin-top: -10vh;
    align-items: center;
    justify-content: end;
}